{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	{# Fil d'arianne #}
	{# <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
						<button type="button" class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d&#39;arianne</button>
				
						<div class="fr-collapse" id="breadcrumb">
							<ol class="fr-breadcrumb__list">
								<li>
									<a class="fr-breadcrumb__link" aria-current="page" id="segment-0" href="{{ path('oukile_index') }}">Accueil</a>
								</li>
							</ol>
						</div>
					</nav> #}
	{# Fin fil d'arianne #}

		<h2 class="fr-mt-2w"> Bienvenue
	</h2>

	<main></main>

{% endblock %}
