<form style="display: inline;" method="post" action="{{ path('transit_article_delete', {'envoi': envoi, 'id': article.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
	<button class="fr-link">Supprimer</button>
</form>
