{% extends 'base.html.twig' %}

{% block title %}Édition d'un article
{% endblock %}

{% block body %}
	<h1>Édition d'un article</h1>

	{{ include('article/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	<a target="_self" class="fr-link fr-icon-arrow-left-line fr-link--icon-left" href="{{ path('transit_article_index',{ envoi: envoi}) }}">Retour à la liste</a>

{% endblock %}
